.homeContainer {
  display: flex;
}


.sidebarContainer {
  background: rgb(94, 141, 94);
  width: 15vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 2rem;
  padding: 1rem;
  padding-top: 2rem;
}

